k{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

m{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 70px;
	color: #435711;
	border: 2px;
	text-shadow: 0.1em 0.1em 0.05em #d3dc82;
}

p{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 35px;
}

n{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 35px;
}

button{
	border-radius: 50%;
}

.hello{
	text-align: center;
}

li{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea{
	resize: none;
}

.brand-logo{ 
	 text-shadow: 0.1em 0.1em 0.05em #656161; 
}

h5{
	text-shadow: 0.1em 0.1em 0.05em #656161; 
}

.col-md-12{
	border-radius : 50px;
}

textarea{
	background-color: white !important;
}

.footer{
	text-shadow: 0.1em 0.1em 0.05em #656161;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: linear-gradient(#c48430,#b88747);
	
}
