k{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

m{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 50px;
}

p{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 35px;
}

n{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size : 35px;
}

button{
	border-radius: 50%;
}

.hello{
	text-align: center;
}

li{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section{

	border-color : #b0bbb4; 
	
}

.divider{
	border-color: #b0bbb4;
}

textarea{
	resize: none;
}